<h2>Editing Post "<%= @post.title %>"</h2>

<div class="form-box">
  <% form_for [:admin, @post] do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>

    <div class="actions">
      <%= f.submit :update %>
      or
      <%= link_to 'cancel', admin_posts_path %>
    </div>
  <% end %>
</div>